@import '../helpers/variables';
@import '../helpers/prestyled';
@import '../helpers/mixins';


header.page-header {
	position: relative;
	border:none;
	padding: 0;
	margin: 0;

	@media (min-width: 768px) {
		.container {
			width: 750px;
		}

	}
	@media (min-width: 1115px) {
		.container {
			width: 970px;
		}
	}
	@media (min-width: 1320px) {
		.container {
			width: 1170px;
		}
	}
	
	.page-header-row {
		height: 128px;
		line-height: 124px;
	}
	.header-social-buttons {
		li {
			display: inline-block;
			//margin-left: 96px;
			&:not(:first-child) {
				margin-left: 37px;
			}
			i.fa {
				font-size: 1.25rem;
				line-height: 1.2;
				color:#fff;
			}
			i.fa-linkedin {
				color:#ffd740;
			}
		}
	}
	
	.topnav {
		position: relative;
		transition: all .5s;
		.topnav-list-collapse {
			display: block;
			width: 64px;
			height: 64px;
			padding:32px 25px;
			background-color: #fff;
			border-radius: 30px 0 0 30px;
			box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
			i.topnav-opener {
				position: relative;
				display: block;
				height: 3px;
				width: 24px;
				background-color: #000;
				&::before, &::after {
					position: absolute;
					content: '';
					top:-6px;
					height: 3px;
					width: 24px;
					background-color: #000;
				}
				&::after {
					top:6px;
				}
			}
		}
		.topnav-list {
			display: none;
			position: relative;
			top:-65px;
			left:50px;
			background-color: #fff;
			margin: 0;
			padding:15px 35px;
			line-height: 40px;
			transition: all .5s;
		}
		a {
			font-family: 'RobotoMedium';
			font-size: 1.25rem;
			color: rgb(84, 110, 122);
		}
	}
	.topnav.active {
		right:50px;

		.topnav-list {
			display: block;
		}
	}

	.logo {
		@media (min-width: 1000px) {
			padding-left: 0;
			margin-left: 0;
		}
		a {
			font-size: 2.5rem;
			color: rgb(255, 215, 64);
			font-family: 'RobotoMedium';
			text-decoration: none;
		}
	}
	
	.header-social-buttons i{
		color:black;
	}
	.topnav {
		position: absolute;
		top:0;
		right: 0;
		margin-top: 30px;
	}

}
.landing-layout {
	margin-top: 350px;
	font-family: "RobotoLight";
	.landing-h2 {
		font-size: 3.5rem;
		color: #fefefe;
		font-family: "RobotoMedium";
	}
	.landing-paragraph {
		font-size: 1.5rem;
		color: #fefefe;
	}
	.landing-left-column {
		padding-right: 50px;
	}
	.landing-right-column {
		padding-left: 50px;
		direction: rtl;
	}
	.landing-button {
		font-size: 1.5rem;
		color: rgb(255, 215, 64);
		text-decoration: none;
	}
}

