@import '../helpers/variables';
@import '../helpers/prestyled';
@import '../helpers/mixins';
@import '../fonts/fonts';

.landing-home {
	position: relative;
	// height: 950px;
	.analyst-background, .traveler-background {
		position: absolute;
		top:0;
		float:left;
		height: 850px;
		width: 50%;
		background: url("../img/LargeBanker.png");
		background-size: cover;
		background-position: 75% 25%;
		z-index: -1;
	}
	.traveler-background {
		position: absolute;
		right: 0;
		float:right;
		background: url("../img/Traveler.png");
		background-size: cover;
	}
	header.page-header {
		
	}
}

.info {
	background-color: #ffd740;
}